* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Helvetica, Arial, sans-serif;
}


/* =========================
   FUNDO DA PÁGINA
========================= */

body {
    background: linear-gradient(
        145deg,
        #38dc01 10%,
        #290fbe 50%,
        #1a8c00 100%
    );

    min-height: 140vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #ffffff;

    position: relative;

 
}

/* =========================
   CONTAINER DO LOGIN
========================= */

.login-container {
    width: 100%;

    max-width: 380px;

    padding: 30px 24px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    z-index: 2;
}


/* =========================
   LOGO
========================= */

.logo-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 35px;
}


.logo-img {
    width: 500px;
    height: auto;

    max-width: 90vw;
  
    object-fit: contain;
    border-radius: 500px; 
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.25);
    border: #000000 2px solid;
}

.logoif-img {
    width: 200px;
    height: auto;
    margin-top: 70px;

    max-width: 90vw;

    object-fit: contain;
}



/* =========================
   TÍTULO
========================= */

.app-title {
    font-size: 32px;

    font-weight: 700;

    text-align: center;

    line-height: 1.1;

    letter-spacing: 0.5px;
}


/* =========================
   FORMULÁRIO
========================= */

.login-form {
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 14px;
}


/* =========================
   CAMPOS
========================= */

.input-group {
    position: relative;

    display: flex;
    align-items: center;

    background-color: #ffffff;

    border-radius: 50px;

    padding: 0 12px;

    height: 44px;

    box-shadow:
        inset 0 0 10px rgba(0, 0, 0, 0.20);

    margin: 4px;
}


.input-group .input-icon {
    color: #333333;

    width: 18px;
    height: 18px;

    margin-right: 8px;

    flex-shrink: 0;
}


.input-group input {
    width: 100%;

    border: none;

    outline: none;

    font-size: 13px;

    color: #333333;

    background: transparent;
}


.input-group input::placeholder {
    color: #888888;

    font-style: italic;
}


/* =========================
   ÍCONE DO OLHO
========================= */

.toggle-eye {
    color: #333333;

    width: 20px;
    height: 20px;

    cursor: pointer;

    flex-shrink: 0;
}


/* =========================
   OPÇÕES
========================= */

.form-options {
    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-top: 4px;

    margin-bottom: 15px;

    font-size: 11px;
}


.remember-me {
    display: flex;

    align-items: center;

    gap: 6px;

    cursor: pointer;

    color: #000000;
}


.remember-me input[type="checkbox"] {
    accent-color: #3bff14;

    width: 14px;
    height: 14px;
}


.forgot-pass {
    color: #0046ea;

    text-decoration: underline;

    font-weight: 500;
}


/* =========================
   BOTÃO ENTRAR
========================= */

.btn-entrar {
    width: 100%;

    height: 46px;
    background: linear-gradient(
        90deg,
        #1352c0 8%,
        #040877 100%
    );

    color: #faf8f8;

    border: none;

    border-radius: 10px;

    font-size: 22px;

    font-weight: 600;

    cursor: pointer;

    box-shadow:
        0 4px 10px rgba(0, 0, 0, 0.25);

    margin-top: 20px;

    transition: 0.3s;
}

.btnSuap-entrar {
    width: 100%;

    height: 46px;
    background: linear-gradient(100deg, #a103b2, #5903ae);

    color: #faf8f8;

    border: none;

    border-radius: 10px;

    font-size: 22px;

    font-weight: 600;

    cursor: pointer;

    box-shadow:
        0 4px 10px rgba(0, 0, 0, 0.25);

    margin-top: 20px;

    transition: 0.3s;
}


/* =========================
   HOVER DO BOTÃO
========================= */

.btn-entrar:hover {
    color: #d3d3d1;

    transform: translateY(-2px);

    box-shadow:
        0 7px 15px rgba(0, 0, 0, 0.30);
}
.btnSuap-entrar:hover {
    color: #d3d3d1;

    transform: translateY(-2px);

    box-shadow:
        0 7px 15px rgba(0, 0, 0, 0.30);
}


/* =========================
   CLICK DO BOTÃO
========================= */

.btn-entrar:active {
    transform: scale(0.98);
}
.btnSuap-entrar:active {
    transform: scale(0.98);
}

/* =========================
   BOX DE LOGIN
========================= */

.Box_login {
    display: flex;

    flex-direction: column;

    background-color: #ffffff;

    border-radius: 30px;

    padding: 40px;

    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.25),
        inset 0 0 10px rgba(0, 0, 0, 0.04);

    width: 350px;

    min-height: 380px;

    position: relative;

    z-index: 3;
}


/* =========================
   MARCA D'ÁGUA
========================= */

.marca-fundo {
    position: absolute;
    font-family:'comic sans';

    font-size: 300px;
   

    color: rgba(255, 255, 255, 0.05);

    left: 50%;
    top: 55%;

    transform: translate(-50%, -50%) rotate(-35deg);


    z-index: 0;
}


